
.conbody{

  background-color: rgb(31,108,236,0.03);
  color:rgb(31,108,236);
  padding: 20px 50px ;
  border-radius: 8px;
  /* margin-bottom: 5px; */
  
  }
  tr td {
    color: rgb(0,0,0,0.5);
  }
  
  
  button{
    display: inline-block;
  
  }
  
  .launch-modal{
    color: #fff !important;
  }
  .a{
    text-align: center;
      color: rgb(0,0,0,0.5);
      font-weight: bold;
    display: inline-block;
  }
  p{
    font-size: 16px;
  }
  
  .conbody> .text{
    padding-top: 15px !important; 
  }
  .btn-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }