.handtime{

  margin-left: 10px;
    font-size: 14px;
}
.conbody{

 margin-bottom: 50px;
}
.points{
    font-size: 14px;
}
.turntime{
  display: inline-block;
  margin-right:5px;
  font-size: 12px;
}
.turnbutton{

}
